extends ../layout

block content
    h1.
        #{title}
    ul
        - each instrument, i in instruments
            li
                = instrument.year + " "
                = instrument.make + " "
                = instrument.model + " $"
                = instrument.price
                form(action="/instruments/#{instrument._id}/edit",method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden', value='DELETE', name='_method')
                    button(type='submit').
                        Delete
                p
                    a(href="/instruments/#{instrument._id}/edit") Edit
                p
                    a(href="/instruments/#{instrument._id}") Show
    p
        a(href='instruments/new') New