extends ../layout

block content
    h1.
        #{title}
    form#formAddInstrument(name='addInstrument', method='post', action='/instruments')
        p Make:
            input#inputName(type='text', name='make')
        p Model:
            input#inputModel(type='text', name='model')
        p Year:
            input#inputYear(type='integer', name='year')
        p Price:
            input#inputPrice(type='text', name= 'number')
        p
            button#btnSubmit(type='submit') submit